<h1>My Clients</h1>
    <table class="table">
        
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Portfolio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <th scope="row">{{client.id}}</th>
            <td>{{client.firstName}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.portfolio}}</td>
          </tr>
          <tr>
            <th scope="row"><button type="button" (click)="addClient()" class="btn btn-primary btn-lg">Add Client</button></th>
            <td><input type="text" #firstName (keyup)="setFirstName(firstName.value)" placeholder="Enter First Name" name="nameInput"></td>
            <td><input type="text" #lastName (keyup)="setLastName(lastName.value)"placeholder="Enter Last Name" name="lastName"></td>
            <td><input type="text" #portfolio (keyup)="setPortfolio(portfolio.value)"placeholder="Enter Portfolio" name="portfolio"></td>
          </tr>
        </tbody>
      </table>
    